.container {
  display: grid;
  /* grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 50px 50px 400px 50px;*/
  height: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 50px 50px auto 50px;
}
.menu {
  background: lightblue;
  grid-column: 1/-1; /*  start = 1, end = 4 | penyederhanaan dari css grid */

}
.header {
  background: lavenderblush;
  grid-column: 1/-1;
}
.sidebar {
  background: lightyellow;
  grid-column: 1/2;
}
.konten {
  background: lightpink;
  grid-column: 2/-1;
  display:grid;
  grid-gap: 4px;
}
.subkonten {
  background: lightgrey;
  grid-column: 1/-1;
  padding-top: 10px;
  padding-left: 10px;
}
.footer {
  background: lightcyan;
  grid-column: 1/-1;
}
.footer-content {
  color: #636b6f;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-content {
  color: #0c0c0c;
  float: right;
  margin-top: 7px;
  margin-right: 20px;
}
.menu-back {
  color: #0c0c0c;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.aas-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid green;
}
@media screen and (min-width:700px) {
  .aas-pic {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.align-center {
  justify-content: center;
  display: flex;
}


.container-hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
